@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: black;
            z-index: 2;
        }

        .main {
            color: white;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 90vh;
            font-family: 'Inter', sans-serif;
            background-image: radial-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.767)), url('Banner image.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;

        }

        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 40px;
            gap: 900px;
        }

        .logo {
            width: 150px;
            cursor: pointer;
        }

        .signin {
            background-color: #e50914;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
        }

        h1 {
            font-size: 70px;
            font-weight: 800;
            text-align: center;
            padding: 200px 600px 30px 600px;
            margin: 0;
        }

        .middle-part {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .middle-part h2 {
            font-size: 40px;
            font-family: 'Inter', sans-serif;
            font-weight: 800;
            color: white;
            text-align: start;
            padding-top: 50px;
            padding-left: 230px;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: auto;
            margin: 0 auto;
        }

        td {
            padding: 0;
            text-align: center;
        }

        .card {
            position: relative;
            width: 300px;
            align-items: center;
        }


        .stranger-things-img {
            width: 250px;
            border-radius: 20px;
            cursor: pointer;
        }

        .stranger-things-img:hover {
            transform: scale(1.05);
            transition: 0.3s ease-in-out;
        }

        .number {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 120px;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            color: black;
            -webkit-text-stroke: 1px white;
        }

        .information-table {
            width: 77%;
            margin: 0px auto;
            color: white;
            background-color: #2D2D2D;
            table-layout: fixed;
        }

        .information-table th {
            padding: 20px;
            text-align: center;
            border: 10px solid rgb(0, 0, 0);
        }

        .information-table-header {
            padding: 20px;
            text-align: center;
            border: 10px solid rgb(0, 0, 0);
            cursor: pointer;
        }

        .information-table-header:hover {
            background-color: #D91921;
            transition: 0.3s ease-in-out;
        }

        .information-table th {
            font-size: 24px;
            font-weight: bold;
        }

        .information-table td {
            font-size: 18px;
        }

        .information-table h3 {
            font-size: 24px;
            font-weight: bold;
        }

        .information-table p {
            font-size: 18px;
            margin: 0;
            font-weight: 200;
        }

        .faq-table {
            width: 77%;
            margin: auto;
            color: white;
            background-color: #2D2D2D;
            table-layout: fixed;

        }

        .faq-table td {
            text-align: start;
            border: 10px solid rgb(0, 0, 0);
            padding: 10px 30px;
            cursor: pointer;
        }

        .faq-table td:hover {
            background-color: #D91921;
            transition: 0.3s ease-in-out;
        }

        .faq-row {
            font-size: 20px;
            font-weight: 300;
            font-family: 'Inter', sans-serif;
        }

        .quick-links-header {
            font-size: 24px;
            font-weight: bold;
            color: white;
            text-align: start;
            padding-top: 50px;
            padding-left: 230px;
            font-family: 'Inter', sans-serif;
        }

        .quick-links-table {
            width: 77%;
            text-align: start;
            color: rgb(139, 137, 137);
            table-layout: fixed;

        }

        .quick-links-table td {
            text-align: start;
            border: 10px solid rgb(0, 0, 0);
            cursor: pointer;
            font-size: 14px;
            font-family: 'Inter', sans-serif;
            text-decoration: underline;
        }
